body{
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
}
ul{
    display: flex;
 }

 button{
    color:#F9FAF8;
    background-color: #3882f6;
}
a{
    text-decoration: none;
}

.top-container{
    color:#F9FAF8;
}

.intro-right{
    background-color: grey;
}

.header{
    display: flex;
}
.header-list{
    flex-grow: 1;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
}
