body{
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
}
ul{
    display: flex;
 }

 button{
    color:#F9FAF8;
    background-color: #3882f6;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}

.top-container{
    color:#F9FAF8;
    margin-left: 80px;
}

.header{
    display: flex;
}
.header-list{
    flex-grow: 1;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
}

.introduction{
    display: flex;
    flex-direction: row;
}

.intro-right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    background-color: grey;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
}

.under-main{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.bottom{
    display: flex;
    background-color: #F9FAF8;
}

.bottom-left{
    display: flex;
    flex-direction: column;
}
