body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
ul{
    display: flex;
 }

 button{
    color:#F9FAF8;
    background-color: #3882f6;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
li{
    list-style: none;
}


.top-container{
    background-color:#1F2937;
    color:#F9FAF8;
    padding-left: 80px;
    padding-right: 80px;
}

.header{
    display: flex;
    align-items: baseline;
}
.header h1{
    margin: 0;
}
.header-list{
    flex-grow: 1;
    justify-content: flex-end;
    gap: 25px;    
}
.button-top{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5%;
    border: 2px;
 }
.introduction{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 20px;
}
.intro-left{
    flex-shrink: 1;
}

.intro-right{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 800px;
    background-color: grey;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
    padding:30px; 
    justify-content: space-evenly;
}



 .img-placeholder{ 
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10%;
    background-color: white;    
 }

 .info-boxes {
    display: flex;     
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

 .box-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    }


.under-main{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .under-main-quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items:flex-end;

 }
.under-main p{
    padding: 30px;
font-size: 36px;
font-style:italic;
width: 800px;
}

.bottom{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
    border: 5px;
    margin: 50px;
    border-radius: 5px;
        
}

.bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.bottom-left h1,p{
    margin: 0px;
    
    
}
.bottom-left h1{
    font-size: 24px;
    color: white;
}

.bottom-left p{
    font-size: 18px;
    color: white;
}


 .button-bottom{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    border: 2px solid white;
 }

 .footer {
    padding: 10px;
    background-color: #1F2937;
    color: white;
 }
